[Unit]
Description=Fantasy LED Display App
After=network.target

[Service]
WorkingDirectory=/home/sunderwood/led-display
ExecStart=/usr/bin/gunicorn --workers 1 --bind 0.0.0.0:5000 app:app
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
